aiohttp==3.8.4
aiosignal==1.3.1
argcomplete==3.0.8
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.4
bitarray==2.7.3
CacheControl==0.12.11
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
crashtest==0.4.1
cryptography==42.0.1
cytoolz==0.12.1
distlib==0.3.6
Django==5.0.3
django-extensions==3.2.3
dulwich==0.20.50
eth-abi==4.0.0
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
filelock==3.12.0
frozenlist==1.3.3
hexbytes==0.3.0
html5lib==1.1
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
jsonschema==4.17.3
keyring==23.13.1
lark-parser==0.12.0
lockfile==0.12.2
lru-dict==1.1.8
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
numpy==1.26.4
packaging==23.1
parsimonious==0.9.0
pexpect==4.8.0
pipx==1.2.0
pkginfo==1.9.6
platformdirs==2.6.2
poetry==1.3.0
poetry-core==1.4.0
poetry-plugin-export==1.3.1
protobuf==4.23.1
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.18.0
pyrsistent==0.19.3
python-decouple==3.8
rapidfuzz==2.15.1
regex==2023.5.5
requests==2.31.0
requests-toolbelt==0.10.1
rlp==3.0.0
sage==0.0.0
shellingham==1.5.0.post1
six==1.16.0
sqlparse==0.4.4
superfluid==0.1.0
tomlkit==0.11.8
toolz==0.12.0
trove-classifiers==2023.5.24
urllib3==1.26.16
userpath==1.8.0
virtualenv==20.21.1
web3==6.3.0
webencodings==0.5.1
websockets==11.0.3
xattr==0.10.1
yarl==1.9.2
zipp==3.15.0
